<!doctype html>
<html lang="{{ lang|default('en') }}">
<head>
  <!-- opm-default-template -->
  {{ head_html | safe }}
  {% if webcomponents_url %}
  <script type="module" src="{{ webcomponents_url }}"></script>
  {% endif %}
  {% if odd_css %}
  <style type="text/css">
{{ odd_css }}
  </style>
  {% endif %}
</head>
<body class="content">
  {{ content_html | safe }}
</body>
</html>
